@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@700&family=Poppins:wght@500&family=Raleway:wght@300&display=swap');


body{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: rgb(191, 160, 160);
    color: black;
    width: 100%;

}
.navbar nav{
    display: flex;
    padding: 0px 50px 0 50px;
    align-items: center;
    justify-content: space-between;
}
.navbar nav .burger{
    color: white;
    width: 50px;
    display: none;
}

.navbar nav .nav-brand .logo{
    font-family: 'Golos Text', sans-serif;
    font-size: 1.5rem;
}

.navbar nav .nav-menu ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.navbar nav .nav-menu ul a{
    border-radius: 25px;
    
}

@media only screen and (max-width: 900px) {
    .navbar nav .burger{
        display: block;
        cursor: pointer;
    }
    .navbar nav .nav-menu{
        display: none;
        position: absolute;
        top:80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: rgb(191, 160, 160);
        height: 450px;
        overflow: hidden;
    }
    .navbar nav .nav-menu.active{
        height: 450px;
    }
    .navbar nav .nav-menu ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
    }
    .navbar nav .nav-menu ul.active{
        height: 450PX;
    }
    .navbar nav .nav-menu ul a{
        margin-bottom: 50px;
        
    }

    .navbar nav .nav-menu.Navbar__ToggleShow{
        display: flex;
    }
}

/* 
    REASON WHY IT DIDN'T WORK 

    PROBLEM 1.
    - You used absolute selector here `.navbar nav .nav-menu` when you gave it the 'display: none', 
      Absolute selector have much more preference than the normal relative selector [class] `.Navbar__ToggleShow`
   
    SOLUTION.
    - To override an absolute selector, you have to use that exact absolute selector ` .navbar nav .nav-menu`

    PROBLEM 2.
    - The overriding selector was above the initial selector.
      eg. 
      .Navbar__ToggleShow{
        display: flex;
      }
      .navbar nav .nav-menu{
        display: none;
        position: absolute;
        top:80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: rgb(191, 160, 160);
        height: 450px;
        overflow: hidden;
      }


    SOLUTION 2.
    - Move the overriding selector below the initial selector
      eg:
      .navbar nav .nav-menu{
        display: none;
        position: absolute;
        top:80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: rgb(191, 160, 160);
        height: 450px;
        overflow: hidden;
      }

      .Navbar__ToggleShow{
        display: flex;
      }

*/

